<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Budget Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      
    </ion-toolbar>
  
    <app-explore-container name="Tab 2 page"></app-explore-container>
  </ion-header>



  <form [formGroup]="budgetForm" (ngSubmit)="onSubmit()"> 
     <ion-grid>

       <ion-row>
           <h1> 1. Monthly Income</h1>
       </ion-row>
      
  <div formArrayName="budgetinputs"> 

    <!-- div containor for adding button for Income Inputs -->
    <div class="form-group" *ngFor ="let budgetinput of budgetinputs.controls; let i = index" [formGroupName]="i"> 
       <ion-row>
           <ion-col >  
              <input type="text" formControlName="description" placeholder="income description"  >
           </ion-col>

           <ion-col >
               <input  type="number" formControlName="income" placeholder="income"> 
           </ion-col>

           <ion-col class="align-remove-button">
              <ion-button size="small" type="button" (click)=" removeBudgetInput(i)">Remove</ion-button>
           </ion-col>
    
      
        </ion-row>
     </div>
         
      <ion-row>    
          <ion-button type="button" (click)="addBudgetInput()">Add Income</ion-button> 
      </ion-row>
         
     </div>      
       <br>    
    
     <ion-row>
      <h1> 2. Monthly Expense</h1>
    </ion-row>

    <!-- div containor for adding button for Expense Inputs -->
   <div formArrayName="budgetexpenses">

    <ion-row *ngFor ="let budgetexpense of budgetexpenses.controls; let j = index" [formGroupName]="j">   
      <ion-col>
           <input type="text" formControlName="description" placeholder="expense description"  >
      </ion-col>

      <ion-col>
        <input type="number" formControlName="expense" placeholder="expense">    
      </ion-col>

      <ion-col class="align-remove-button">
        <ion-button size="small" type="button" (click)=" removeBudgetExpense(j)">Remove</ion-button>
      </ion-col>

      </ion-row>
      <ion-row >
      <ion-button type="button" (click)="addBudgetExpense()">Add Expense</ion-button> 
      </ion-row>
      </div>   
       <ion-row>
       <ion-button type="submit"> Submit</ion-button>
      </ion-row>
    </ion-grid>
   </form>

   <!-- FAB button that contains the alerts for 2 inputs -->

   <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="help-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-button shape="round" size="small" (click)="AlertDashboard1()">
        1
      </ion-button>
      <ion-button shape="round" size="small" (click)="AlertDashboard2()">
        2
      </ion-button>      
    </ion-fab-list>
  </ion-fab>



</ion-content>

  
    


