ion-card {
    margin: 15px;
    border-radius: 10px;
    
  }
  
  ion-card-title {
    font-size: 1.2em;
    text-align: center;
  }
  
  ion-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  
 