
ion-col {
    display: flex;
    background-color: #135d54;
    border: solid  #fff;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
   
    
  }
  ion-row{
    display: flex;
    text-align: center;
    
    justify-content: center;
  }

  ion-button{
    display:flex;
  }


